Debug/*
extras/*
inputPic/*
generated_text/*
src/python_files/*pyc
/*.png
all_backups
generated_text_bu
result
src/CMakeCache.txt
src/CMakeFiles
src/Makefile
src/cmake_install.cmake
src/python_files/*.db
src/CSrc/*
src/cscope.out
src/Csrc/test.cpp
src/python_files/pickled_results
src/python_files/annealer_progression_output.txt
src/python_files/annealer_results.txt
src/python_files/finalResult.png
all_input_scenarios.txt
src/python_files/inputs.py
src/python_files/all_inputs_scenarios
src/python_files/settings.py
*tags*
inputPics/*
src/python_files/blah
src/python_files/blah.py
test.c
src/BookKeeping/cscope.out

src/python_files/combine.png
src/python_files/compare_results.txt
src/python_files/compare_results_copy.txt
src/python_files/cscope.files
src/python_files/cscope.out
src/python_files/pareto_curved_combined_pickled
src/python_files/pareto_set_file.txt
src/python_files/pickled_results1
src/python_files/pickled_results2
src/python_files/ref.png
src/python_files/ref_results_pickled
src/cscope_out
