CSrc_examples/simple_data_flows/super_simple/
all_input_scenarios_bu.txt
MightNeedLater/*
now 
ok
*.png
*.PIK
scratch.txt
combine_example.png
nohup.out
config.txt
opIndexSelectedFile.txt
res_bu
results.png
all_s2_points
../../cmake_install.cmake
res_bu
all_s3_points
pareto_of_heur_flattened_all_points
all_of_flattend
pareto_combined_all_points
pickled_results_pareto
log
scratch
config_bu.txt

../../CSrc_examples/simple_data_flows/super_simple/
all_of_combined
all_of_flattned
all_of_s2
all_of_s3
ok
pareto_curved_combined_pickled_all_points
pareto_of_combined
pareto_of_heur_flattened
pickled_results_all_points
ref_results_pickled_all_points
results_mod.png
results_pickled_all_points_s2
results_pickled_all_points_s3
my_bash
my_bash_disparity
my_bash_localization
my_bash_sift


pareto_of_all_of_flattened
pareto_of_all_of_s2
pareto_of_all_of_s3
pareto_of_flattened
pareto_of_heur_flatt
pickled_results_pareto_of_all
